.book {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: #e0e4ee;
   perspective: 1000px;
   padding-left: 25%;
}

/* 앞면 */
.coverFront {
   position: absolute;
   width: 400px;
   height: 75%;
   background-image: url(../img/wizard-oz-book.png);
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   box-shadow: 1px 1px 10px #2d2d2e;
   transform: rotateX(20deg);
}

.coverFront .title {
   position: absolute;
   top: 65%;
   left: 40%;
   text-align: center;
   color: #ece5b5;
}
/* 앞면 끝 */

/* 중간페이지 */

.page,
.lastPage {
   background-color: #fff;
   width: 380px;
   height: 70%;
   position: absolute;
   transform: rotateX(20deg);
   transform-origin: center left;
   z-index: -1;
}

/* 중간페이지 끝 */

/* 마지막 뒷면 */
.coverBack {
   width: 400px;
   height: 75%;
   background-color: #2d2d2e;
   position: absolute;
   box-shadow: 1px 1px 10px #2d2d2e;
   transform: rotateX(20deg);
}
/* 마지막 뒷면 끝 */

/* 책 전체 호버 시 */
.book:hover .coverFront {
   transform: rotateX(20deg) rotateY(-180deg);
}

.book:hover .page {
   transform: rotateX(20deg) rotateY(-180deg);
   z-index: 2;
}

/* 중간페이지 페이지넘김 효과 */
.page:nth-child(2) {
   transition-duration: 4s;
}
.page:nth-child(3) {
   transition-duration: 3.7s;
}
.page:nth-child(4) {
   transition-duration: 3.4s;
}
.page:nth-child(5) {
   transition-duration: 3.1s;
}
.page:nth-child(6) {
   transition-duration: 2.8s;
}

.book:hover .page:nth-child(2) {
   transition-duration: 6s;
}
.book:hover .page:nth-child(3) {
   transition-duration: 5.5s;
}
.book:hover .page:nth-child(4) {
   transition-duration: 5s;
}
.book:hover .page:nth-child(5) {
   transition-duration: 4.5s;
}
.book:hover .page:nth-child(6) {
   transition-duration: 4s;
}

/* z-index 설정 */

.coverFront {
   transition: all 4s;
   z-index: 1;
   transform-origin: center left;
}

.coverBack {
   z-index: -2;
}

.lastPage h2 {
   z-index: -1;
}
