@font-face {
    font-family: 'SANGJUGyeongcheonIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANGJUGyeongcheonIsland.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.book__coverpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:auto; 
    font-family:'SANGJUGyeongcheonIsland';
    font-size: 30px;
    background-color: #6D95E9;
    color: white;
    margin-bottom: auto;
}


.start_button{
    
    font-family: 'Roboto';
    min-width: 475px;
    width:100%;
    border:#fff;
    padding:10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    background: white;
    color: #6D95E9;
    cursor:pointer;
    font-size: 25px;
    font-weight: bold;
}
.App-logo{
    max-width:150px;
}
.of{
   font-size: 40px; 
}
.oz{
    font-size:70px;
}
.oz_logo{
    background-color:transparent;
    border: none;
    cursor: pointer;
}
h1{
    margin-bottom: 0;
}
