.loading-bar {
   position: relative;
   top: 30px;
   width: 301px;
   background: #cecece;
   padding: 2px;
   border: 1px solid linear-gradient(180deg, #837dd9 0%, #393783 56%, #090979 100%);
   border-radius: 6px;
   box-shadow: 0 0 20px 0 rgba(131, 125, 217, 0.5);
   margin: auto;
   transition-duration: 9s;
}

.loading-bar--progress {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   align-content: center;
}

.loading-bar--progress span {
   margin: auto;
   background: linear-gradient(180deg, #837dd9 0%, #393783 56%, #090979 100%);
   border-radius: 4px;
   flex-basis: 11%;
   flex-grow: 1;
   flex-shrink: 1;
   height: 20px;
   animation: FadeIn 0.5s ease;
   transition: all 1s cubic-bezier(0.17, 0.67, 0.88, 0.17);
}

.loading-bar--progress span:nth-child(1n) {
   animation-delay: 0.15s;
   animation-iteration-count: 1;
   animation-fill-mode: both;
}

.loading-bar--progress span:nth-child(2n) {
   animation-delay: 0.3s;
   animation-iteration-count: 1;
   animation-fill-mode: both;
}

.loading-bar--progress span:nth-child(3n) {
   animation-delay: 0.45s;
   animation-iteration-count: 1;
   animation-fill-mode: both;
}

.loading-bar--progress span:nth-child(4n) {
   animation-delay: 0.6s;
   animation-iteration-count: 1;
   animation-fill-mode: both;
}

.loading-bar--progress span:nth-child(5n) {
   animation-delay: 0.75s;
   animation-iteration-count: 1;
   animation-fill-mode: both;
}

.loading-bar--progress span:nth-child(6n) {
   animation-delay: 0.9s;
   animation-iteration-count: 1;
   animation-fill-mode: both;
}

.loading-bar--progress span:nth-child(7n) {
   animation-delay: 1.05s;
   animation-iteration-count: 1;
   animation-fill-mode: both;
}

.loading-bar--progress span:nth-child(8n) {
   animation-delay: 1.2s;
   animation-iteration-count: 1;
   animation-fill-mode: both;
}

.loading-bar--progress span:nth-child(9n) {
   animation-delay: 1.35s;
   animation-iteration-count: 1;
   animation-fill-mode: both;
}

.loading-bar--progress span:nth-child(10n) {
   animation-delay: 1.5s;
   animation-iteration-count: 1;
   animation-fill-mode: both;
}

.loading-bar--progress span:nth-child(11n) {
   animation-delay: 1.65s;
   animation-iteration-count: 1;
   animation-fill-mode: both;
}

.loading-bar--progress span:nth-child(12n) {
   animation-delay: 1.8s;
   animation-iteration-count: 1;
   animation-fill-mode: both;
}

.loading-bar--progress .first {
   border-top-left-radius: 4px !important;
   border-bottom-left-radius: 4px !important;
}

.loading-bar--progress .last {
   border-top-right-radius: 4px !important;
   border-bottom-right-radius: 4px !important;
}
